[Unit]
Description=virtual gamepad service for keyboard device %I

[Service]
Type=simple
ExecStart=/home/strohel/.cargo/bin/virtual-gamepad-rs --keyboard %I
